#python specific
*.pyc
*.pyd
*.so
build/*
dist/*
MANIFEST
__pycache__/
*.eggs/
*.egg-info/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.o
*.a

.tox/
docs/_build/
.venv/
wheelhouse/

