include README.rst PYPIREADME.rst LICENSE ChangeLog
include setup.py setup_cares.py tox.ini
graft docs
graft examples
graft tests
graft deps
graft src
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.[ao]
recursive-exclude * *.so
prune docs/_build
