include README.rst LICENSE TODO ChangeLog
include build_inplace setup.py setup_cares.py tox.ini
recursive-include docs *
recursive-include examples *
recursive-include src *
recursive-include tests *
recursive-include deps *
recursive-include pycares *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.[ao]
recursive-exclude * *.so
prune docs/_build

