name: Build Wheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-10.15]

    steps:
      - uses: actions/checkout@v2
      - name: Build wheels
        uses: joerick/cibuildwheel@v1.11.0
        env:
          CIBW_BUILD: "cp36-* cp37-* cp38-* cp39-*"
