on:
  workflow_call:
    inputs:
      fail-fast:
        description: Whether the wheel build should stop and fail as soon as any job fails.
        required: false
        default: false
        type: boolean
      prerelease-pythons:
        description: Whether the wheels should be built for pre-release Pythons that are not ABI stable yet.
        required: false
        default: false
        type: boolean

jobs:
  build_wheels:
    name: Build wheels for ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        include:
          - name: Windows
            os: windows-latest
          - name: Windows arm64
            os: windows-11-arm
          - name: macOS x86_64
            os: macos-15-intel
          - name: macOS arm64
            os: macos-15
          - name: Linux
            os: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
      - name: Enable CPython prerelease
        if: ${{ inputs.prerelease-pythons }}
        run: echo "CIBW_ENABLE=cpython-prerelease" >> $GITHUB_ENV
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.1.4
        with:
          output-dir: dist
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}
          path: dist/*.whl
