on:
  workflow_call:
    inputs:
      fail-fast:
        description: Whether the wheel build should stop and fail as soon as any job fails.
        required: false
        default: false
        type: boolean
      prerelease-pythons:
        description: Whether the wheels should be built for pre-release Pythons that are not ABI stable yet.
        required: false
        default: false
        type: boolean

jobs:
  generate-wheels-matrix:
    # Create a matrix of all architectures & versions to build.
    # This enables the next step to run cibuildwheel in parallel.
    # From https://iscinumpy.dev/post/cibuildwheel-2-10-0/#only-210
    name: Generate wheels matrix
    runs-on: ubuntu-latest
    outputs:
      include: ${{ steps.set-matrix.outputs.include }}
    steps:
      - uses: actions/checkout@v6
      - name: Install cibuildwheel
      # Nb. keep cibuildwheel version pin consistent with job below
        run: pipx install cibuildwheel==3.2.1
      - id: set-matrix
        run: |
          MATRIX=$(
            {
              cibuildwheel --print-build-identifiers --platform linux \
              | jq -nRc '{"only": inputs, "os": "ubuntu-latest"}' \
              && cibuildwheel --print-build-identifiers --platform macos --archs arm64 \
              | jq -nRc '{"only": inputs, "os": "macos-15"}' \
              && cibuildwheel --print-build-identifiers --platform macos --archs x86_64 \
              | jq -nRc '{"only": inputs, "os": "macos-15-intel"}' \
              && cibuildwheel --print-build-identifiers --platform windows --archs AMD64 \
              | jq -nRc '{"only": inputs, "os": "windows-latest"}' \
              && cibuildwheel --print-build-identifiers --platform windows --archs ARM64 \
              | jq -nRc '{"only": inputs, "os": "windows-11-arm"}'
            } | jq -sc
          )
          echo "include=$MATRIX" >> $GITHUB_OUTPUT

  build_wheels:
    name: Build wheels for ${{ matrix.only }}
    runs-on: ${{ matrix.os }}
    needs: generate-wheels-matrix
    strategy:
      fail-fast: ${{ inputs.fail-fast }}
      matrix:
        include: ${{ fromJson(needs.generate-wheels-matrix.outputs.include) }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
      - name: Enable CPython prerelease
        if: ${{ inputs.prerelease-pythons }}
        run: echo "CIBW_ENABLE=cpython-prerelease" >> $GITHUB_ENV
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        with:
          only: ${{ matrix.only }}
          output-dir: dist
      - uses: actions/upload-artifact@v5
        with:
          name: wheels-${{ matrix.only }}
          path: dist/*.whl
