name: Test

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: Test on ${{ matrix.os }} / Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, windows-11-arm, macos-14, macos-latest]
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14-dev', '3.14t-dev']
        exclude:
          - os: windows-11-arm  # setup-python action only supports 3.11+
            python-version: '3.9'
          - os: windows-11-arm  # setup-python action only supports 3.11+
            python-version: '3.10'
    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        check-latest: true
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: python -m pip install -U setuptools wheel
    - name: Build package
      run: python -m pip install -v .
    - name: Run tests
      run: python -m unittest -v
    - name: Run multithreaded tests on free-threaded build
      if: ${{ matrix.python-version == '3.14t-dev' }}
      run: |
        python -m pip install unittest-ft
        unittest-ft -v
